.chart{
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 8px;
    background-color: white;
    width: 600px;
    height: 300px;
}

@media screen and (max-width: 700px) {
.chart {
        width: 90%;
    }
}