.main_container {
  text-align: center;
  display: flex;
  flex-direction: row;
  height: calc(100vh - 80px);
}

.leftDiv {
  text-align: center;
  width: 60%;
}

.rightDiv {
  text-align: center;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin-top: 100px;
  width: 90%;
  display: inline-block;
  background-color: #cae4db;
  padding: 0.5rem;
  border-radius: 8px;
}

.main_heading {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

.p_ {
  font-size: 19px;
}

.imgwrapper {
      width: 80%;
}

@media screen and (max-width: 700px) {
.main_container {
    flex-direction: column;
    height: 100%;
    padding-bottom: 4rem;
  }

  .leftDiv {
    width: 100%;
  }

  .rightDiv {
    width: 100%;
  }

  .imgwrapper{
    margin-top: 2rem;
    width: 50%;
  }
}